* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(Images/Background.jpeg);
    background-position: center;
    background-size: cover;
}

.main {
    width: 650px;
    margin: 22px auto;
}

.register {
    background-color: rgba(0, 0, 0, 0.7);
    width: 110%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    color: orange;
    padding: 20px;
}

h1 {
    text-align: center;
    padding: 20px;
    color: yellow;
    font-style: italic;
}

form {
    margin: 40px;
}

label {
    display: block;
    font-size: 18px;
    font-style: italic;
    color: skyblue;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width: 80%;
    height: 33px;
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

input[type="submit"]{
    width: 25%;
    height: 33px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 3px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* footer section starts */
footer {
    background-color: lightcoral;
    color: white;
    text-align: center;
}
/* footer section ends */